    <blockquote class="quote">
      <p class="quote__text">
        Success is not final, failure is not fatal: it is the courage to continue that counts.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">KANTHI KIRAN</h3>
            <p class="quote__organization">KANTHI INDUSTRIES</p>
          </div>
        </div>
      </footer>
    </blockquote>